<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js SPAのサンプルアプリケーション</title>
</head>
<body>
    <div id="app">
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザー一覧ページ</router-link>
        <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
        <router-link to="login" v-show="!Auth.loggedIn()">ログイン</router-link>
        <router-link to="logout" v-show="!Auth.loggedIn()">ログアウト</router-link>
        <router-view></router-view>
    </div>
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>

    <!-- ユーザー一覧ページのテンプレ -->
    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読み込み中...</div>
            <div class="error" v-if="error">{{error}}</div>
            <div v-for="user in users" :key=user.id>
                <h2>{{user.name}}</h2>
            </div>
        </div>
    </script>
    <!-- ユーザー詳細ページのテンプレ -->
    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">読み込み中...</div>
            <div class="error" v-if="error">
                {{error}}
            </div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
    </script>
    <!-- ユーザー作成ページのテンプレ -->
    <script type="text/x-template" id="user-create">
        <div>
            <div class="sending" v-if="sending">Sending...</div>
            <div>
                <h2>新規ユーザー作成</h2>
                <div>
                    <label>名前: </label>
                    <input type="text" v-model="user.name">
                </div>
                <div>
                    <label>説明文: </label>
                    <textarea v-model="user.description"></textarea>
                </div>
                <div v-if="error" class="error">
                    {{error}}
                </div>
                <div>
                    <input type="button" v-on:click="createUser" valus="送信">
                </div>
            </div>
        </div>
    </script>
    <!-- ログインページのテンプレ -->
    <script type="text/x-template" id="login">
        <div>
            <h2>Login</h2>
            <p v-if="$route.query.redirect">
                ログインしてください
            </p>
            <form v-on:submit.prevent="login">
                <label><input v-model="email" placeholder="email"></label>
                <label><input v-model="pass" placeholder="password" type="password"></label><br>
                <button type="submit">ログイン</button>
                <p v-if="error" class="error">ログインに失敗しました</p>
            </form>
        </div>
    </script>
    <script>
        let Auth = {
            login: function(email, pass, cb) {
                setTimeout(function() {
                    if(email === 'vue@example.com' && pass === 'vue') {
                        localStorage.token = Math.random().toString(36).substring(7)
                        if(cb) {
                            cb(true)
                        } else {
                            if(cb) {
                                cb(false)
                            }
                        }
                    }
                }, 0)
            },
            logout: function() {
                delete localStorage.token
            },
            loggedIn: function() {
                return !!localStorage.token
            }
        }
        let userData = [
            {
                id: 1,
                name: 'Takuya Tejima',
                description: '東南アジアで働くエンジニアです。'
            },
            {
                id: 2,
                name: 'Yohei Noda',
                description: 'アウトドア・フットサルが趣味のエンジニアです。'
            },
        ]
        let getUsers = function(callback) {
            setTimeout(function() {
                callback(null, userData)
            }, 1000)
        }
        let getUser = function(userId, callback) {
            setTimeout(function() {
                let filteredUsers = userData.filter(function(user) {
                    return user.id === parseInt(userId, 10)
                })
                callback(null, filteredUsers && filteredUsers[0])
            }, 1000)
        }
        let postUser = function(params, callback) {
            serTimeout(function() {
                params.id = userData.length + 1
                userData.push(params)
                callback(null, params)
            }, 1000)
        }

        let Login = {
            template: '#login',
            data() {
                return {
                    email: 'vue@example.com',
                    pass: '',
                    error: false
                }
            },
            methods: {
                login() {
                    Auth.login(this.email, this.pass, (function(loggedIn) {
                        if(!loggedIn) {
                            this.error = true
                        } else {
                            this.$router.replace(this.$route.query.redirect || '/')
                        }
                    }).bind(this))
                }
            }
        }
        let UserList = {
            template: '#user-list',
            data() {
                return {
                    loading: false,
                    users() {
                        return []
                    },
                    error: null
                }
            },
            created: function() {
                this.fetchData()
            },
            watch: {
                '$route' : 'fetchData'
            },
            methods: {
                fetchData: function() {
                    this.loading = true
                    getUsers((function(err, users) {
                        this.loading = false
                        if(err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }
        let UserDetail = {
            template: '#user-detail',
            data() {
                return {
                    loading: false,
                    user: null,
                    error: null
                }
            },
            created: function() {
                this.fetchData()
            },
            watch: {
                '$route': 'fetchData'
            },
            methods: {
                fetchData() {
                    this.loading = true
                    getUser(this.$route.params.userId, (function(err, user) {
                        this.loading = false
                        if(err) {
                            this.error = err.toString()
                        } else {
                            this.user = user
                        }
                    }).bind(this))
                }
            }
        }
        let UserCreate = {
            template: '#user-create',
            data() {
                return {
                    sending: false,
                    user: this.defaultUser(),
                    error: null
                }
            },
            created: function() {

            },
            methods: {
                defaultUser() {
                    return {
                        name: '',
                        description: ''
                    }
                },
                createUser() {
                    if(this.user.name.trim() === '') {
                        this.error = 'Nameは必須です'
                        return
                    }
                    if(this.user.description.trim() === '') {
                        this.error = 'Descriptionは必須です'
                        return
                    }
                    postUser(this.user, (function(err, user) {
                        this.sending = false
                        if(err) {
                            this.error = err.toString()
                        } else {
                            this.error = null
                            this.user = this.defaultUser()
                            alert('新規ユーザーが登録されました')
                            this.$router.push('/users')
                        }
                    }).bind(this))
                }
            }
        }
        let User = {
            template: `
                <div class="user">
                    <h2>ユーザーIDは{{$route.params.userId}}です。</h2>
                    <router-link to="/user/{{$route.params.userId}}/profile">ユーザーのプロフィールページを見る</router-link>
                    <router-link to="/user/{{$route.params.userId}}/posts">ユーザーの投稿ページを見る</router-link>
                    <router-view></router-view>
                </div>
            `
        }
        let UserProfile = {
            template: `
                <div class="user-profile">
                    <h3>こちらはユーザー {{$route.params.userId}} のプロフィールページです。</h3>
                </div>
            `
        }
        let UserPosts = {
            template: `
                <div class="user-posts">
                    <h3>こちらはユーザー {{$route.params.userId}} の投稿ページです。</h3>
                </div>
            `
        }
        
        let router = new VueRouter({
            routes: [
                {
                    path: '/top',
                    component: {
                        template: `<div>トップページです。</div>`
                    }
                },
                {
                    path: '/users',
                    component: UserList
                },
                {
                    path: '/users/new',
                    component: UserCreate,
                    beforeEnter: function(to, from, next) {
                        if(!Auth.loggedIn()) {
                            next({
                                path: '/login',
                                query: {
                                    redirect: to.fullPath
                                }
                            })
                        } else {
                            next()
                        }
                    }
                },
                {
                    path: '/users/:userId',
                    component: UserDetail
                },
                {
                    path: '/login',
                    component: Login
                },
                {
                    path: '/logout',
                    beforeEnter: function(to, from, next) {
                        Auth.logout()
                        next('/')
                    }
                },
                {
                    path: '/user/:userId',
                    name: 'user',
                    component: User,
                    children: [
                        {
                            path: 'profile',
                            component: UserProfile
                        },
                        {
                            path: 'posts',
                            component: UserPosts
                        }
                    ]
                },
                {
                    path: '/a',
                    redirect: '/b'
                },
                {
                    path: '*',
                    redirect: '/notfound'
                }
            ]
        })

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    Auth: Auth
                }
            },
            router: router
        })
    </script>
</body>
</html>